In [1]:
import os

In [2]:
os.chdir('drive/My Drive/MLProject_20202')

In [3]:
!ls

Data  preprocessing.ipynb  README.md  requirements.txt	Source_Code

In [4]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv('Data/data_first_clean.csv', encoding='utf-8')
df.head()

   job_id  ... fraudulent
0       1  ...          0
1       2  ...          0
2       3  ...          0
3       4  ...          0
4       5  ...          0

[5 rows x 18 columns]

In [32]:
df = df.drop(columns=['job_id'])
df = df.fillna('')

In [33]:
df.describe(include='all')

                          title         location  ... function    fraudulent
count                     17880            17880  ...    17880  17880.000000
unique                    11231             3106  ...       38           NaN
top     English Teacher Abroad   GB, LND, London  ...                    NaN
freq                        311              718  ...     6455           NaN
mean                        NaN              NaN  ...      NaN      0.048434
std                         NaN              NaN  ...      NaN      0.214688
min                         NaN              NaN  ...      NaN      0.000000
25%                         NaN              NaN  ...      NaN      0.000000
50%                         NaN              NaN  ...      NaN      0.000000
75%                         NaN              NaN  ...      NaN      0.000000
max                         NaN              NaN  ...      NaN      1.000000

[11 rows x 17 columns]

In [34]:
# dropping categorical columns with too many variances or missing data
df = df.drop(columns=['industry', 'function', 'department', 'salary_range', 'required_education'])
df.head()

                                       title  ... fraudulent
0                           Marketing Intern  ...          0
1  Customer Service - Cloud Video Production  ...          0
2    Commissioning Machinery Assistant (CMA)  ...          0
3          Account Executive - Washington DC  ...          0
4                        Bill Review Manager  ...          0

[5 rows x 12 columns]

In [30]:
df.to_csv('Data/data_shortened.csv')

                     title  location  ...  required_education  fraudulent
required_experience                   ...
                      7050      7050  ...                7050        7050
Associate             2297      2297  ...                2297        2297
Director               389       389  ...                 389         389
Entry level           2697      2697  ...                2697        2697
Executive              141       141  ...                 141         141
Internship             381       381  ...                 381         381
Mid-Senior level      3809      3809  ...                3809        3809
Not Applicable        1116      1116  ...                1116        1116

[8 rows x 12 columns]